<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
</head>
<body>
    <main>
        <header>
            <br>
            <center>
                <img src="/multimedia/yop.png" alt="foto" width="150px">
            </center>
            <h1><center>Ashley Rincón</center></h1>
            <center>
            <p><strong>Estudiante de Ingeniería de sistemas</strong></p>
            </center>
        <hr>
        </header>

        <nav>
            <center>
            <a href="#Sobre-mi">Sobre mí</a> |
            <a href="#Hobbies">Hobbies</a> |
            <a href="#Estudios">Estudios</a> |
            <a href="#Experiencia">Experiencia</a>
            </center>
        </nav>
        <hr>

            <section id="Sobre-mi">
                <h2>Sobre mí</h2>
                <p>
                    Tengo 18 años soy una persona responsable y comprometida, con disposición para aprender y enfrentar nuevos retos. 
                    Me destaco por mi honestidad, empatía y capacidad para trabajar en equipo, cualidades que me permiten desenvolverme en diferentes entornos de manera positiva. 
                    Mi objetivo es seguir desarrollándome como persona, aprendiendo de cada experiencia y dando siempre lo mejor de mí en cualquier actividad que realice.
                </p>
                <hr>
            </section>

            <section id="Hobbies">
                <h2>¿Qué me gusta hacer?</h2>
                <h3>Hobbies</h3>
                    <ul>
                        <li>Escuchar Música</li> 
                            <h3>🎵 Mi canción favorita:</h3> <br>
                            <audio controls>
                                <source src="/multimedia/please.mp3" type="audio/mpeg">
                                Tu navegador no soporta este formato.
                            </audio> <br>
                        </li>
                        <li>Ver Películas</li>
                            <h3>🎬 Mi película favorita:</h3> <br>
                            <video width="450px" controls>
                                <source src="/multimedia/harry.mp4" type="video/mp4">
                                Tu navegador no soporta videos.
                            </video>
                            <br>
                        <li>Aprender cosas nuevas</li>
                    </ul>
                <hr>
            </section>

            <section id="Estudios">
                <h2>Estudios</h2>

                <table width="65%">
                    <tr>
                        <td><strong><time>2019 - 2024</time></strong></td>

                    <td>
                        <h3><strong>Instituto Técnico Empresarial El Yopal “ITEY”</strong></h3>
                        <p>Bachiller Técnico en especialidad informatica</p>
                    </td>
                    </tr>

                    <tr>
                        <td><strong><time>2025 - Actualidad</time></strong></td>

                    <td>
                        <h3><strong>Universidad Internacional del Trópico Americano “Unitrópico”</strong></h3>
                        <p>Ingeniería de Sistemas — En curso</p>
                    </td>
                    </tr>
                </table>
                <br>
                <hr>
            </section>


            <section id="Experiencia">
                <h2>Experiencia Laboral</h2>
            <table width="45%">
                <tr>
                    <td><strong><time>2024 - 2025</time></strong></td>
                    <td>
                        <ul>
                            <h3><strong>Asesora de Ventas</strong><br></h3>
                            <li>Atención y servicio al cliente</li>
                            <li>Conocimiento básico en redes sociales para promoción</li>
                            <li>Apoyo en organización, inventario y exhibición de mercancía</li>
                        </ul>
                    </td>
                </tr>
            </table>
            </section>
            <br>
            <hr>
    </main>

    <footer id="Contacto">
        <h2>Contacto</h2>
        <ul>
            <li>Email:
                <a href="mailto:ifashlyeerincon1307@gmail.com">ifashlyeerincon1307@gmail.com</a>
            </li>
            <li>Teléfono:
                <a href="tel:+573115352528">+57 3115352528</a>
            </li>
        </ul>
        <p>📍 Colombia</p>
        <hr>
        <p><em>© 2026 - Mi CV Personal</em></p>
    </footer>
</body>
</html>